* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  background-color: blue;
  color: white;
  padding: 4px 8px;
}

.App {
  padding-top: 100px;
  text-align: center;
}

.game-board {
  background-color: blue;
  padding: 2px 0;
  margin: 0 auto;
  width: 214px;
}

.tile {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: black;
  font-size: 40px;
  height: 70px;
  width: 70px;
  margin: 2px;
}

.tileRow {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 2px;
  width: 210px;
}

.text-red {
  color: red;
  font-weight: bold;
  font-size: 50px;
}
